<% if @success%>
    <div class="modal-header">
      <h4 class="modal-title"><%= t :'user.reset_password'%></h4>
    </div>
    <div class="modal-body">
      <p>Password has been changed.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" onclick="javascript:window.location.reload()">Close</button>
    </div>
<% else %>
  <%= form_for @user, :url => reset_password_settings_user_path(@user), :method => :post, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title"><%= t :'user.reset_password'%></h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class='col-sm-4 control-label'>User</label>
        <div class="col-sm-8 form-control-static"><%= @user.username %></div>
      </div>
      <%= render 'settings/user/password', :f => f %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type='submit' class='btn btn-sm btn-success'>Confirm</button>
    </div>
  <% end %>
<% end %>