<h1><%= t :'user.reset_password'%> <%= @user.username %></h1>
<hr />

<%= form_for @user, :url => reset_password_settings_user_path(@user), :method => :post, html: {class: 'form-horizontal', role: 'form'} do |f| %>
  <%= hidden_field_tag :refer, params[:refer] %>
  <%= render 'settings/user/password', :f => f %>
  <button type='submit' class='btn btn-sm btn-success'>
    Save
  </button>
<% end %>
