<h1><%= t :'nav.system.user'%></h1>
<hr />
<div class="toolbar">
  <div class="toolbar-left">
    <%= render 'layouts/filters/user' %>
  </div>
  <div class="toolbar-right">
    <a class="btn btn-sm btn-success" href="<%=new_settings_issue_status_path%>"><i class="fa fa-plus"></i> New</a>
  </div>
</div>
<div class="record-table">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td>
          <input type="checkbox" id="user_toggle" />
          Username
        </td>
          <td>Name</td><td>Status</td><td></td></tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td>
          <input type="checkbox" id="user_<%= u.id %>" data-model="user" />
          <label for="user_<%= u.id %>"><%= u.username %></label>
        </td><td><%= u.name %></td><td></td>
        <td>
          <%= link_to 'Edit', edit_settings_user_path(u, :refer => request.fullpath) %> |
          <%= link_to 'Reset Password', edit_password_settings_user_path(u, :refer => request.fullpath) %> |
          <% if u.disabled %>
            <%= link_to 'Enable', set_disabled_settings_user_path(u, :flag => 'f' ), :method => :post %> |
          <% else %>
            <%= link_to 'Disable', set_disabled_settings_user_path(u, :flag => 't' ), :method => :post %> |
          <% end %>
          <%= link_to 'Delete', [:settings, u], :method => :delete, :data => {:confirm => 'Are you sure?'} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="record-pagination">
  <%= render 'layouts/pagination/pager', :current_page => @current_page, :page_size => @page_size, :input => '' %>
</div>

<script type="text/javascript">
$(function() {
  $("#user_toggle").checkbox_toggle("input[data-model=user]");
});
</script>