<h3><%= t(:'nav.system.inspection_bundles') %></h3>
<hr />
<div class="toolbar">
  <div class="toolbar-left">
  <%= render 'layouts/filters/inspection_bundle' %>
  </div>
  <div class="toolbar-right">
    <a class="btn btn-sm btn-success" href="<%= new_settings_inspection_bundle_path(:refer => request.fullpath) %>"><i class="fa fa-plus"></i> New</a>
  </div>
</div>
<div class="record-table">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td>Title</td><td>Group</td><td>Code</td><td>Catalogs</td><td></td></tr>
    </thead>
    <tbody>
      <% @bundles.each do |c| %>
      <tr>
        <td><%= c.title %></td>
        <td><%= c.group_name %></td>
        <td><%= c.inspection_items.pluck(:title).join('/') %></td>
        <td></td>
        <td>
          <%= link_to 'Edit', edit_settings_inspection_bundle_path(c, :refer => request.fullpath) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="record-pagination">
  <%= render 'layouts/pagination/pager', :current_page => @current_page, :page_size => @page_size, :input => '' %>
</div>
