<div class="form-group">
  <label class="col-lg-1 col-sm-2 control-label">Identify</label>
  <div class="col-lg-2 col-sm-3 form-control-static">
    <%= profile.identify%>
  </div>
</div>
<div class="form-group">
  <label class="col-lg-1 col-sm-2 control-label" style="white-space: nowrap;">First Name</label>
  <div class="col-lg-3 col-sm-4 form-control-static">
    <%= profile.firstname%>
  </div>
  <label class="col-lg-1 col-sm-2 control-label">Surname</label>
  <div class="col-lg-3 col-sm-4 form-control-static">
    <%= profile.surname%>
  </div>
</div>
<div class="form-group">
  <label class="col-lg-1 col-sm-2 control-label">Birthday</label>
  <div class="col-lg-2 col-md-3 col-sm-4 form-control-static">
    <%= profile.birthday%>
  </div>
  <label class="col-lg-1 col-sm-2 control-label">Sex</label>
  <div class="col-lg-2 col-sm-3 form-control-static">
    <%= profile.sex%>
  </div>
</div>